@import './colors';

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.section {
	position: relative;
	padding: 10em 0;
	margin-bottom: 5em;
	text-align: center;
	&-heading {
		position: relative;
		display: inline-block;
		font-size: 4rem;
		color: $lightred;
		&::after {
			content: '';
			position: absolute;
			bottom: -20%;
			left: -25%;
			height: 2px;
			width: 150%;
			border-bottom: 2px solid $lightred;
		}
	}
}
