@mixin links {
	text-decoration: none;
	text-transform: uppercase;
	color: $white;
}

@mixin link-animation {
	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -5px;
		width: 100%;
		height: 3px;
		background-color: $lightred;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 0.3s;
	}

	&:hover::after {
		transform: scaleX(1);
		transform-origin: left;
	}
}

@mixin heroImage ($bgImg) {
	background-image: url($bgImg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 1;
}

@mixin heroShadow {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(6, 4, 4, 0.8);
	z-index: 0;
}

@mixin button-animation {
	// &::after {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	bottom: 0;
	// 	width: 100%;
	//     background-color: $lightred;
	// 	transform: translateX(-200%);
	// 	transform-origin: right;
	// 	transition: transform 0.3s;

	// 	&:hover::after {
	// 		transform: translateX(200%);
	// 		transform-origin: left;
	// 	}
	// }
}
